@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test console</title>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script>
        var testUsers = new Array();

        function registerTestUser(mobile, name) {
            testUsers.push({ mobile: mobile, name: name });
            $.get("/InboundSMS/SMSReceived", { from: mobile, content: name });
            $('#registered-test-users').append('<li>' + name + ' - ' + mobile + '</li>');
        }
        
        function submitAnswer(mobile, answer) {
            $.get("/InboundSMS/SMSReceived", { from: mobile, content: answer });
            $('#submitted-answers').prepend('<li>' + name + ' - ' + mobile + ' - ' + answer + '</li>');
        }

        var i = 0;
        function registerTestUsers() {
            testUsers = new Array();
            $('#registered-test-users').empty();
            
            var baseTestUsers = [
                {
                    mobile: "07875111111",
                    name: "Alex"
                },
                {
                    mobile: "07875111112",
                    name: "Pat"
                },
                {
                    mobile: "07875111113",
                    name: "Sam"
                },
                {
                    mobile: "07875111114",
                    name: "Nikki"
                },
                {
                    mobile: "07875111115",
                    name: "Neil"
                },
                {
                    mobile: "07875111116",
                    name: "Oli"
                }
                //,
                //{
                //    mobile: "07875111117",
                //    name: "James"
                //},
                //{
                //    mobile: "07875111118",
                //    name: "Jonathan"
                //},
                //{
                //    mobile: "07875111119",
                //    name: "Andrew"
                //},
                //{
                //    mobile: "07875111120",
                //    name: "Rupert"
                //},
                //{
                //    mobile: "07875111121",
                //    name: "Henry"
                //},
                //{
                //    mobile: "07875111122",
                //    name: "Winston"
                //}
            ];
            
            baseTestUsers.forEach(function(testUser) {
                registerTestUser(testUser.mobile, testUser.name);
                
                console.log("Registered:" + testUser.mobile + " " + testUser.name);
            });
            registerTestUser("0787511111" + i++, "Some guy");
        }

        function answerAll() {
            testUsers.forEach(function (testUser) {
                submitAnswer(testUser.mobile, (testUser.mobile % 4) + 1);
            });
        }
        
        function answerAllButOne(answer, oneOtherAnswer) {
            var count = 0;
            testUsers.forEach(function (testUser) {
                if (count == 0) {
                    submitAnswer(testUser.mobile, oneOtherAnswer);
                } else {
                    submitAnswer(testUser.mobile, answer);
                }
                count++;
            });
        }

        $(document).ready(function() {
            console.log("document loaded");
            $('#register-test-users').click(function() {
                registerTestUsers();
            });
            $('#answer-all').click(function () {
                answerAll();
            });
            $('#answer-1-and-one-2').click(function () {
                answerAllButOne('A','B');
            });
            $('#answer-2-and-one-3').click(function () {
                answerAllButOne('B', 'C');
            });
            $('#answer-3-and-one-4').click(function () {
                answerAllButOne('C', 'D');
            });
            $('#answer-4-and-one-1').click(function () {
                answerAllButOne('D', 'A');
            });
        });
    </script>
</head>
<body>
    <div>
        <fieldset>
            <legend>A test does what?</legend>
            <input id="register-test-users" type="button" value="Register a test user" />
            <input id="answer-all" type="button" value="Answer 1,2,3 and 4 equally"/>
            <input id="answer-1-and-one-2" type="button" value="Answer A and one B"/>
            <input id="answer-2-and-one-3" type="button" value="Answer B and one C"/>
            <input id="answer-3-and-one-4" type="button" value="Answer C and one D"/>
            <input id="answer-4-and-one-1" type="button" value="Answer D and one A"/>
        </fieldset>
    </div>
    <div>
        <h3>Test users</h3>
        <ul id='registered-test-users'>
        </ul>
        <h3>Recent answers</h3>
        <ul id='submitted-answers'>
        </ul>
    </div>
</body>
</html>
