<!DOCTYPE html>

<html>
    <head>
        <link href="@Url.Content("~/Styles/style.css")" rel="stylesheet" type="text/css" />
        <title>QuizBang!</title>
    </head>
    <body>
        <div id="outer">
            <div id="container">
                <div id="inner">
                    <div class="centred-content">
                        <h1>QuizBang!</h1>
                        <h2>Text your name to (number) to enter</h2>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
