<!DOCTYPE html>

<html>
    <head>
        <link href="@Url.Content("~/Styles/style.css")" rel="stylesheet" type="text/css" />
        <title>QuizBang!</title>
    </head>

    <body>
        <div id="canvasBubbles"></div>

        <ul id="messageBox">
        </ul>
        <div id="outer">
            <div id="container">
                <div id="inner">
                    <div class="centred-content">
                        <h1>QuizBang!</h1>
                        <h2>Text your name to (number) to enter</h2>
                    </div>
                </div>
            </div>
        </div>
        <script src="~/Scripts/questions.js" type="text/javascript"></script>
        <script src="~/Scripts/jquery-1.6.4.min.js"></script>
        <script src="~/Scripts/jquery.signalR-2.0.0.min.js"></script>
        <script src="/signalr/hubs"></script>
        <script type="text/javascript">
            $(function () {
                var quiz = $.connection.quizHub;
                var questionSelector = new QuestionSelector();
                
                quiz.client.broadcastMessage = function (from, message) {

                    if ($('#' + from)) {
                        $('#' + from).html(message);
                    }
                    else {
                        $('#messageBox').append('<li id="' + from + '">' + message + '</li>');
                    }
                };

                $.connection.hub.start();
            });
        </script>
        
        <script src="Scripts/bubbles.js"></script>
        <script>
            bubblesMain(new Object({
                type: 'radial',
                revolve: 'center',
                minSpeed: 100,
                maxSpeed: 500,
                minSize: 50,
                maxSize: 150,
                num: 100,
                colors: new Array('#FFFFFF', '#BBBBBB')
            }));
        </script>
    </body>
</html>
