<!DOCTYPE html>

<html>
<head>
    <link href="@Url.Content("~/Styles/style.css")" rel="stylesheet" type="text/css" />
    <title>QuizBang!</title>
</head>

<body>
    <div id="canvasBubbles"></div>

    <div id="messageBox">
        <div>Test</div>
        <div>Test</div>
        <div>Test</div>
        <div>Test</div>
    </div>
    <div id="outer">
        <div id="container">
            <div id="inner">
                <div id="intro" class="centred-content">
                    <h1>QuizBang!</h1>
                    <h2>Text your name to (number) to enter</h2>
                    <p id="startInstructions" style="display: none;">Press any key to start quiz!</p>
                </div>
                <input type="hidden" id="answer" />
                <div id="question" class="centred-content" style="display: none;">
                    <h2 id="question-text">What is the answer to this question that has lots of words in it and goes onto several lines like in this example right here?</h2>
                    <div id="answers">
                        <ul class="left">
                            <li><span class="answer-letter">A:</span><span id="answer-a" class="answer"></span></li>
                            <li><span class="answer-letter">C:</span><span id="answer-c" class="answer"></span></li>
                        </ul>
                        <ul class="right">
                            <li><span class="answer-letter">B:</span><span id="answer-b" class="answer"></span></li>
                            <li><span class="answer-letter">D:</span><span id="answer-d" class="answer"></span></li>
                        </ul>
                        <h2>Text A, B, C or D now!</h2>
                    </div>
                </div>
                <div id="win-screen" class="centred-content" style="display: none;">
                    <h1>Pavel</h1>
                    <h2>is the winner!</h2>
                    <h2>Thanks for playing!</h2>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/questions.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-1.6.4.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.color-2.1.2.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.signalR-2.0.0.min.js" type="text/javascript"></script>
    <script src="/signalr/hubs" type="text/javascript"></script>
    <script src="~/Scripts/bubbles.js" type="text/javascript"></script>
    <script src="~/Scripts/quizbang.js" type="text/javascript"></script>
    <script src="~/Scripts/messagehandler.js" type="text/javascript"></script>
    <script>

        $("body").click(function () {

            bubblesMain(new Object({
                type: 'linear',
                revolve: 'center',
                minSpeed: 100,
                maxSpeed: 500,
                minSize: 50,
                maxSize: 150,
                num: 100,
                colors: new Array('#FFFFFF', '#BBBBBB')
            }));
            cycleBackgroundColors();
        });

        function cycleBackgroundColors() {
            var colors = ["green", "yellow", "red", "purple", "blue"];
            var i = 0;
            while (i < colors.length) {
                $("body").animate({ backgroundColor: colors[i++ % colors.length] }, 200, cycleBackgroundColors);
            }
        }

        var angle = 0;
        var xcenter = $(window).width() / 2;
        var ycenter = $(window).height() / 2;

        var angles = [0, 60, 120, 180, 240, 300];
        
        function orbit() {
            var index = 0;
            $("#messageBox div").each(function () {
                angles[index] += 0.005;

                var r = 380;

                var newLeft = Math.floor(xcenter + (r * Math.cos(angles[index]))) - 75;
                var newTop = Math.floor(ycenter + (r * Math.sin(angles[index])) * 0.75) - 75;

                $(this).animate({
                        top: newTop,
                        left: newLeft,
                    }, 1, function() {
                        orbit();
                    });

                index++;
            });
        }

        $(function () {
            orbit();
        });
    </script>
</body>
</html>
