/* mac hide \*/
html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: lightblue;
    text-align: center;
    min-height: 400px; /* for good browsers*/
    min-width: 600px; /* for good browsers*/
}

#outer {
    height: 100%;
    width: 100%;
    display: table;
    vertical-align: middle;
}

#container {
    text-align: center;
    position: relative;
    vertical-align: middle;
    display: table-cell;
    height: 400px;
}

#inner {
    width: 600px;
    height: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    background-color: white;
    border: 1px solid silver;
    -webkit-border-radius: 300px / 200px;
    -moz-border-radius: 300px / 200px;
    border-radius: 300px / 200px;

    display: table;
}

.centred-content {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}