/* mac hide \*/
html, body {
    height: 100%;
    width: 100%;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: lightblue;
    text-align: center;
    min-height: 400px; /* for good browsers*/
    min-width: 600px; /* for good browsers*/
}

body.started {
    background-color: lightpink;
}

#outer {
    height: 100%;
    width: 100%;
    display: table;
    vertical-align: middle;
}

#container {
    text-align: center;
    position: relative;
    vertical-align: middle;
    display: table-cell;
    height: 400px;
}

#inner {
    width: 600px;
    height: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 3px solid silver;
    -webkit-border-radius: 300px / 200px;
    -moz-border-radius: 300px / 200px;
    border-radius: 300px / 200px;
    display: table;
}

.centred-content {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    padding: 20px 40px;
}

#canvasBubbles {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

#messageBox {
    position: absolute;
    list-style: none;
}

#messageBox li {
    background-color: white;
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    margin: 30px 0 0 0;
}

#answers ul.left {
    float: left;
    margin-left: 20px;
}

#answers ul.right {
    float: right;
    margin-right: 20px;
}

#answers ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#answers li {
    margin: 10px;
    padding: 5px;
    border: 2px solid #333;
    width: 200px;
    background-color: wheat;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 20px;
}

#advance {
    position: absolute;
    bottom: 10px;
    right: 10px;
}