
html, body {
    height: 100%;
    width: 100%;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
}

body {
    margin: 0;
    padding: 0;
    background-color: lightblue;
    text-align: center;
    min-height: 400px; /* for good browsers*/
    min-width: 600px; /* for good browsers*/
    overflow: hidden;
}

body.started {
    background-color: lightpink;
}

#outer {
    height: 100%;
    width: 100%;
    display: table;
    vertical-align: middle;
}

#container {
    text-align: center;
    position: relative;
    vertical-align: middle;
    display: table-cell;
    height: 400px;
}

#inner {
    width: 800px;
    height: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 3px solid silver;
    -webkit-border-radius: 400px / 200px;
    -moz-border-radius: 400px / 200px;
    border-radius: 400px / 200px;
    display: table;
}

.centred-content {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    padding: 20px 50px;
}

#canvasBubbles {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.user {
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: white;
    width: 150px;
    height: 150px;
    -webkit-border-radius: 75px;
    -moz-border-radius: 75px;
    border-radius: 750px;
    margin: 0;
    border: 3px solid silver;
    display: table;
}

.user span {
    display: table-cell;
    vertical-align: middle;
}

.user.received {
    border-color:green;
}

#answers ul.left {
    float: left;
    margin-left: 20px;
}

#answers ul.right {
    float: right;
    margin-right: 20px;
}

#answers ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#answers li {
    margin: 10px;
    padding: 5px;
    border: 2px solid #333;
    width: 280px;
    height: 3.0em;
    overflow: hidden;
    background-color: wheat;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
}

#answers .correct {
    background-color:gold;
}

#answers li span.answer {
    display: inline-block;
    width: 170px;
}

#answers li span.answer-letter {
    display: inline-block;
    vertical-align:central;
    font-size: 2.0em;
    font-weight: bold;
    width: 30px;
}

#advance {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
