
html, body {
    height: 100%;
    width: 100%;
    font-family: 'Yanone Kaffeesatz', "Comic Sans MS", cursive, sans-serif;
    font-size: 24px;
}

body {
    margin: 0;
    padding: 0;
    background-color: purple;
    text-align: center;
    min-height: 400px; /* for good browsers*/
    min-width: 600px; /* for good browsers*/
    overflow: hidden;
}

body.started {
    background-color: lightpink;
}
h1, h2 {
    color: #7624C0;
}
#outer {
    height: 100%;
    width: 100%;
    display: table;
    vertical-align: middle;
}

#container {
    text-align: center;
    position: relative;
    vertical-align: middle;
    display: table-cell;
    height: 400px;
}

#inner {
    width: 800px;
    height: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-image: url('/Images/question-bubble.png');
    background-repeat: no-repeat;
    display: table;
}

#logo {
    margin-top: 20px;
}

#instruction {
    margin-top: 10px;
}

#question-text {
    margin-bottom: 10px;
}
.centred-content {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    padding: 20px 50px;
}

#canvasBubbles {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.user {
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url('/Images/clearbubble.png');
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    -webkit-border-radius: 75px;
    -moz-border-radius: 75px;
    border-radius: 750px;
    margin: 0;
    display: table;
    font-size: 34px;
    font-weight: bold;
    color: white;
    font-variant: small-caps;
}

.user span {
    display: table-cell;
    vertical-align: middle;
}

.user.received {
    background-image: url('/Images/answered-bubble.png');
    background-repeat: no-repeat;
}

#answers ul.left {
    float: left;
    margin-left: 78px;
}

#answers ul.right {
    float: right;
    margin-right: 78px;
}

#answers ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#question-instruction {
    clear: both;
}

#answers li {
    margin: 10px;
    padding: 4px;
    border: 2px solid #7624C0;
    width: 238px;
    height: 2.5em;
    overflow: hidden;
    background-color: #3E1464;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    color: white;
}

#answers .correct {
    background-color:#2ca80b;
}

#answers li span {
    display: table-cell;
    vertical-align:middle;
}

#answers li span.answer-letter {
    font-size: 2.0em;
    font-weight: bold;
    padding-right: 10px;
}
